Source: ceph-medic
Maintainer: Alfredo Deza <adeza@redhat.com>
Uploaders: Alfredo Deza <adeza@redhat.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7), python-setuptools, git
X-Python-Version: >= 2.7
Standards-Version: 3.9.2
Homepage: http://ceph.com/
Vcs-Git: git://github.com/ceph/ceph-medic.git
Vcs-Browser: https://github.com/ceph/ceph-medic

Package: ceph-medic
Architecture: all
Depends: python,
         python-setuptools,
         python-remoto,
         python-tambo,
         ${misc:Depends},
         ${python:Depends}
Description: ceph-medic is a tool to determine common issues on Ceph storage
clusters.
